

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

span.burned{color: #434343;}
span.enlighten{color: #0093DD;}
span.master{color: #294DDB;}
span.apprentice{color: #DD0093;}
span.guru{color: #882D9E;}
